extends layout

block content
  h1= title
  div.logoContainer
   img(src="/images/gogoleDrive.png", alt="Gogole Drive logo" class="logo")
  if user
    p Welcome back #{user.username}
      | 
      a(href="/user/logout") (Logout)
      br
    include fileExplorer.pug
    a(href=`/folder/create?parentFolderId=${currentFolderId}`) Create a folder
      br
    a(href="/file/upload") Upload a file
  else
    a(href="/user/login") Login
      br
    p Don't have an account? 
      a(href="/user/signup") Signup
