extends layout

block content
  h1 Please log-in
  if errors
    each error, i in errors
      div(class='alert alert-danger') #{error.msg}

  form(action="/user/login" method="POST") 
    div.formGroup 
      label(for="username") Username:
      input(type="text" name="username" id="username" placeholder='username' required)
    div.formGroup 
      label(for="password") Password:
      input(type="password" name="password" id="password" placeholder='password' required)
    div.formGroup
      button(type='submit') Submit

