extends layout

block content
  if !user
    h1 Please log-in
    a(href="/user/login") Login
      br
    p Don't have an account? 
      a(href="/user/signup") Signup
  else
    h1 Upload a file in #{currentFolderName}
    if errors
      each error, i in errors
        div(class='alert alert-danger') #{error.msg}

    form(action=`/file/upload?currentFolderId=${currentFolderId}` method="POST" enctype="multipart/form-data") 
        input(type="file" name="file" id="file" required)
        br.spacer
        button(type='submit') Submit

